.writeBackground{
    margin: 91px 14px;
}
/* 사진 컨테이너 */
.uploadImgContainer {
    width: 196px;
    height: 261px;
    border: 1px solid #707070;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
#mainImg {
    width: 41px;
    height: 12px;
    border-radius: 20px;
    background: #ADADAD;
    font-size: 10px;
    color: #fff;
    text-align: center;
    margin: 4px;
} */

.uploadImg {
    font-size: 24px;
}

/* 지역,날짜 컨테이너 */
.regionContainer,
.dateContainer {
    display: flex;
}

.dateImgContainer,
.regionImgContainer {
    width: 38px;    
    height: 38px;
    border-radius: 9px;
    background: #707070;
    margin-top: 9px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dateImg,
.regionImg {
    font-size: 24px;
    stroke: white;
}

.writeText {
    margin: 9px 0 0 9px;
    height: 38px;
    font-size: 20px;
    color: #707070;
    display: flex;
    align-items: center;
}

/* day별 컨테이너 */
.dayContainer {
    width: 70px;
    height: 35px;
    border-radius: 13px;
    background: #FE4C40;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 9px 0 0 45px;
}

.dayImg,
.dayText {
    color: #fff;
    float: left;
    font-size: 22px;
}
.dayText {
    padding-left: 1px;
    font-size: 18px;
}