/* color */
.bg-main{
    background-color: #FE4C40;
    color: white;
}

.bg-default{
    background-color: #eee;
    color: black;
}

/* size */
.w-100{
    width: 100%;
}

.w-80{
    width: 80%;
}

/* img css */
.content-img{
    width: 80px;
    height: 80px;
    background: #eee;
    border-radius: 10px;
    margin: 10px 10px 10px 20px;
}

/* flex css */
.d-flex{
    display: flex;
    align-items: center;
}

.d-flex-column{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex-between{
    justify-content: space-between;
}


.flex-center{
    justify-content: center;
}

.flex-start{
    justify-content: start;
}
.flex-end{
    justify-content: end;
}
.flex-around{
    justify-content: space-around;
}

.align-start{
    align-items: start;
}

.align-end{
    align-items: end;
}

/* font-css */
.font-small{
    font-size: 12px;
}
.font-medium{
    font-size: 20px;
}

/* margin css */
.mg-0{
    margin:0px;
    
}
.mg-10{
    margin:10px;
}

.mt-3{
    margin-top:3px;
}
.mt-5{
    margin-top: 5px;
}

.mt-15{
    margin-top: 10px;
}

.mt-20{
    margin-top: 20px;
}

.mb-0{
    margin-bottom: 0px;
}

.mb-10{
    margin-bottom: 10px;
}

.ml-5{
    margin-left: 5px;
}

.ml-10{
    margin-left: 10px;
}

.wb-all{
    word-break: break-all;
}

/* float */
.float-right{
    float:right;
}

/* Card.js */
.content-column{
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-column h3{
    margin: 0px;
}
.content-column p{
    font-weight: 800;
    color: gray;
    font-size: 12px;
    margin: 0px;
}

.content-row p{
    color: gray;
    font-size: 12px;
    margin: 0px;
    display: flex;
    float: left;
}