.content-img{
    width: 80px;
    height: 80px;
    background: #eee;
    border-radius: 10px;
    margin: 10px 10px 10px 20px;
}

/* Card.js */
.content-column{
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-column h3{
    margin: 0px;
}
.content-column p{
    font-weight: 800;
    color: gray;
    font-size: 12px;
    margin: 0px;
}

.content-row p{
    color: gray;
    font-size: 12px;
    margin: 0px;
    display: flex;
    float: left;
}