/* color */
.bg-main{
    background-color: #FE4C40;
    color: white;
}

.bg-default{
    background-color: #eee;
    color: black;
}

.bg-hover{
    background-color: #eee;
    color: #fe4c40;
}

.bg-Wdefault {
    /* 선택되지않은 아이콘 하얀글씨버젼 : 지도아이콘, 지역/날짜 아이콘 등 */
    background-color: #707070;
    color: white;
}

.text-Bdefault {
    /* 검정글씨  : 장소추가버튼, 검색바탕, 설정배경 등 */
    background-color: #F1F1F1;
    color: white;
}

/* size */
.w-100{
    width: 100%;
}

.w-80{
    width: 80%;
}

.h-100{
    height: 100vh;
}

/* img css */
.content-img{
    width: 80px;
    height: 80px;
    background: #eee;
    border-radius: 10px;
    margin: 10px 10px 10px 20px;
}

/* flex css */
.d-flex{
    display: flex;
    align-items: center;
}

.d-flex-column{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex-between{
    justify-content: space-between;
}


.flex-center{
    justify-content: center;
}

.flex-start{
    justify-content: start;
}
.flex-end{
    justify-content: end;
}
.flex-around{
    justify-content: space-around;
}

.align-start{
    align-items: start;
}

.align-end{
    align-items: end;
}

/* font-css */
.font-xsmall{
    font-size: 8px;
}

/* font-default 값 어떠한지*/
.font-small{
    font-size: 12px;
}
.font-medium{
    font-size: 20px;
}

/*폰트 강조 굵기*/
.font-bold {
    font-weight: bold;
}

/* margin css */
.mg-0{
    margin:0px;
    
}
.mg-10{
    margin:10px;
}

.mt-3{
    margin-top:3px;
}
.mt-5{
    margin-top: 5px;
}

.mt-15{
    margin-top: 10px;
}

.mt-20{
    margin-top: 20px;
}

.mb-0{
    margin-bottom: 0px;
}

.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}

.ml-5{
    margin-left: 5px;
}

.ml-10{
    margin-left: 10px;
}

.wb-all{
    word-break: break-all;
}

/* float */
.float-right{
    float:right;
}

/* Card.js */
.content-column{
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-column h3{
    margin: 0px;
}
.content-column p{
    font-weight: 800;
    color: gray;
    font-size: 12px;
    margin: 0px;
}

.content-row p{
    color: gray;
    font-size: 12px;
    margin: 0px;
    display: flex;
    float: left;
}

/*main color - flex - center */
.main-center {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

    background: #fe4c40;
    color: white;
}