/* .container{
  padding: 20px;
  font-size: small;
}
@media screen and (min-width: 375px) {
  .App{
    background-color: lightgray;
  }

  .container{
    width: 375px;
    margin: auto;
    background-color: white;
    font-size: medium;
  }
}
@media screen and (min-width: 1200px) {
  .App{
    background-color: beige;
  }
} */

.fullContainer {
  padding: 10px 14px;
  padding-bottom: 65px;
  height: 100%;
}

