

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  padding: 20px;
  font-size: small;
}
/* 768px 이상이면 테블릿 */
@media screen and (min-width: 768px) {
  .App{
    background-color: lightgray;
  }

  .container{
    width: 768px;
    margin: auto;
    background-color: white;
    font-size: medium;
  }
}

/* 1200px 이상이면 데스크탑 */
@media screen and (min-width: 1200px) {
  .App{
    background-color: beige;
  }
}



