

/* 
.container{
  padding: 20px;
  font-size: small;
}
/* 768px 이상이면 테블릿 */
@media screen and (min-width: 375px) {
  .App{
    background-color: lightgray;
  }

  .container{
    width: 375px;
    margin: auto;
    background-color: white;
    font-size: medium;
  }
}

/* 1200px 이상이면 데스크탑 */
@media screen and (min-width: 1200px) {
  .App{
    background-color: beige;
  }
}
  */


.App {
  text-align: center;
}

