html {
    background-color: #f2f2f2;
}
body {
    position: relative;
    width: 100%;
    top: 0;
    max-width: 375px;
    /*height: calc(var(--vh, 1vh) * 100); 모바일에서 잘 보이기 위함*/
    height: 100%;
    min-height: 95vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: rgba(0,0,0,0.2)  0px 20px 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}