.navWrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 375px;
    height: 53px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid rgba(0, 0, 0, 0.623); /*네브바 상단 줄 표시*/
    padding: 8px 0px; 
}

.navItem {
    float: left;
    width: 20%; 
    text-align: center;
    font-size: 24px;
}
